@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background-color: white !important;
}
html {
  scroll-behavior: smooth;
}
.mySwiper {
  width: 100%;
  height: 100%;
}
/* change active bullet color to red */
.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background: #979696 !important;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #f5c73d !important;
  width: 80px !important;
  border-radius: 20px !important;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 50 !important;
  /* bottom: -30px !important; */
}
